fastapi
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
groq
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
numpy
pydantic
python-dotenv
requests
urllib3
uvicorn
boto3
python-multipart
